<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo/logo.png' %}" alt="" style="height: 40px; width: 40px; background-color: #8D35E5; border-radius: 30px; color: white">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
            </ul>
            <form class="d-flex" method="get" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'user-detail' user.id %}">{{ user.username }}</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %}{% endblock %}
</body>
</html>