{% extends 'home/layout.html' %}
{% load static %}
{% block title %}HomePage{% endblock %}
{% block content %}
    <div class="container-fluid">
            <div>
                {% for category in categories %}
                    <div class="card text-center" style="width: 13rem">
                        <img src="{% static 'img/category/1.png' %}" alt="" class="card-img" style="height: 16rem; width: 13rem">
                        <div class="card-img-overlay align-items-center justify-content-center">
                            <h5 class="card-title">
                                <a href="{% url 'product_list_by_category' category.slug %}" class="text-decoration-none text-black text-center">
                                    {{ category.name }}
                                </a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <h1>
                    {% if category %}
                        {{ category.name }}
                    {% else %}
                        All Products
                    {% endif %}
                </h1>
            </div>
        <div class="row">
            <div class="col">
                <div>
                    {% if user.is_authenticated %}
                        <div class="container-fluid">
                            <div class="row">
                                {% for card in object_list %}
                                    <div class="col-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{{ card.image.url }}" class="card-img-top " style="height: 330px; " alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ card.name }}</h5>
                                                <a href="{% url 'card_detail' card.slug %}" class="btn btn-primary">Подробнее</a>
                                              </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Нет записей</p>
                                {% endfor %}
                            </div>
                        </div>

                    {% else %}
                        <p>You are not logged in</p>
                        <a href="{% url 'signup' %}">Sign Up</a>
                        <p>If you already have account</p>
                        <a href="{% url 'login' %}">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}