{% extends 'home/layout.html' %}
{% block title %}HomePage{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for c in categories %}
                <p {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}" class="text-decoration-none text-reset">{{ c.name }}</a>
                </p>
            {% endfor %}
        </div>
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-5">
                        <p class="">
                            <h1>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
                        </p>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div>
                    {% if user.is_authenticated %}
                        <div class="container-fluid">
                            <div class="row">
                                {% for card in object_list %}
                                    <div class="col-2">
                                        <div class="card" style="width: 18rem;">
                                            <img src="{{ card.image.url }}" class="card-img-top " style="height: 330px; " alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ card.name }}</h5>
                                                <a href="{% url 'card_detail' card.slug %}" class="btn btn-primary">Подробнее</a>
                                              </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Нет записей</p>
                                {% endfor %}
                            </div>
                        </div>

                    {% else %}
                        <p>You are not logged in</p>
                        <a href="{% url 'signup' %}">Sign Up</a> <!-- Ссылка на страницу регистрации -->
                        <p>If you already have account</p>
                        <a href="{% url 'login' %}">Log In</a> <!-- Ссылка на страницу входа -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
