{% extends 'registration/layout.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Настройки профиля{% endblock %}
{% block content %}
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 bg-white rounded-3 p-4">
            <div class="text-center mb-3">
                <img src="{% static 'img/logo/logo.png' %}" alt="" style="height: 40px; width: 40px; background-color: #8D35E5; border-radius: 50%; color: white">
            </div>
            <h3 class="text-center mb-4">Настройки профиля в inspiration</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text-center mb-3">
                    <img src="{{ user.userprofile.picture.url }}" alt="Profile picture" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div class="mb-3">
                    {% bootstrap_label 'Логин' %}
                    {% bootstrap_field form.username show_label=False placeholder='Логин' %}
                </div>
                <div class="mb-3">
                    {% bootstrap_label 'Почта' %}
                    {% bootstrap_field form.email show_label=False placeholder='Почта' %}
                </div>
                <div class="mb-3">
                    {% bootstrap_label 'Имя' %}
                    {% bootstrap_field form.first_name show_label=False placeholder='Имя' %}
                </div>
                <div class="mb-3">
                    {% bootstrap_label 'Фамилия' %}
                    {% bootstrap_field form.last_name show_label=False placeholder='Фамилия' %}
                </div>
                <div class="mb-3">
                    {% bootstrap_label 'Изображение' %}
                    {% bootstrap_field form.picture show_label=False %}
                </div>
                {{ form.errors }}
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
                <div class="text-center">
                    <a href="{% url 'user-detail' user.id %}" class="btn-link text-decoration-none">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
