{% extends 'registration/layout.html' %}
{% load bootstrap5 %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="height: 100vh">
        <div class="row justify-content-md-center row align-items-center" style="height: 100vh">
            <div class="col-3" style="background: white; border-radius: 25px; padding-top: 20px">
                <div class="row text-center">
                    <div class="col align-self-center">
                        <img src="{% static 'img/logo/logo.png' %}" alt="" style="height: 40px; width: 40px; background-color: #8D35E5; border-radius: 30px; color: white">
                    </div>
                </div>
                <div class="row h3 text-center">
                    <p>
                        Добро пожаловать <br>
                        В inspiration
                    </p>
                </div>
                <div class="col-8 align-self-center mx-auto">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_label 'Логин' %}
                        {% bootstrap_field form.username show_label=False placeholder='Логин' %}

                        {% bootstrap_label 'Пароль' %}
                        {% bootstrap_field form.password show_label=False placeholder='Пароль' %}

                        {{ form.errors }}

                        <div class="d-grid gap-1 col-9 mx-auto" style="padding-bottom: 10px">
                            <button type="submit" class="btn" style="color: white; background-color: #8D35E4">
                                Войти
                            </button>
                        </div>
                        <div class="row">
                             <div class="col text-center">
                                 Или
                             </div>
                        </div>
                        <div class="row">
                            <div class="d-grid gap-1 col-9 mx-auto" style="padding-bottom: 30px; padding-top: 5px">
                                <a href="{% url 'signup' %}" class="btn" style="color: white; background-color: #8D35E4">
                                    Зарегистрироваться
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}