{% extends 'registration/layout.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}
{% block title %}Signin{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center gx-5">
            <div class="col-2 align-self-center ">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label for="login">Логин или почта</label>
                        <p>
                            {{ form.login }}
                        </p>
                        <label for="password">Пароль</label>
                        <p>
                            {{ form.password }}
                        </p>
                        <label for="date_of_birth">Дата рождения</label>
                        <p>
                            {{ form.date_of_birth }}
                        </p>
                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="row" style="padding-top: 10px">
                            <div class="col text-center">
                                <button type="submit" class="btn" style="background-color: #8D35E4; color: white">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}